<!DOCTYPE html>
<html lang="<%= detailPage.lang %>">
<head>
	<meta charset="utf-8">
	<meta name="description" content="<%= detailPage.meta.desc %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= detailPage.meta.title %></title>

	<link rel="canonical" href="<%= dataSite.uri.rootSite + "/" + detailPage.lang + detailPage.canon[detailPage.lang] %>" />
	<link rel="alternate" hreflang="en" href="<%= dataSite.uri.rootSite + "/en" + detailPage.canon.en %>" />
	<link rel="alternate" hreflang="fr" href="<%= dataSite.uri.rootSite + "/fr" + detailPage.canon.fr %>" />

	<link rel="stylesheet" type="text/css" href="<%= dataSite.uri.rootAsset %>cam.css" />
</head>
<body>
	<header>
		<div>
			<h1><a href="/<%= detailPage.lang %>"><%= dataSite.title[detailPage.lang] %></a></h1>
			<nav aria-labelledby="siteNavTitle">
				<% if (detailPage.lang == "en") { %><h2 id="siteNavTitle">Site Navigation</h2>
				<% if (detailDomain.id) { %><ul>
					<li><a href="/en/<%= detailDomain.uri %>"<% if (detailPage.nav.segment == "index") { %> aria-current="page"<% }; %>>Home</a></li>
					<li>
						<a href="/en/<%= detailDomain.uri %>/asset"<% if (detailPage.nav.segment == "asset") { %> aria-current="page"<% }; %>>Assets</a>
					</li>
					<li>
						<a href="/en/<%= detailDomain.uri %>/image"<% if (detailPage.nav.segment == "image") { %> aria-current="page"<% }; %>>Images</a>
					</li>
				</ul><% }; } else { %><h2 id="siteNavTitle">Navigation du site</h2>
				<% if (detailDomain.id) { %><ul>
					<li><a href="/fr/<%= detailDomain.uri %>"<% if (detailPage.nav.segment == "index") { %> aria-current="page"<% }; %>>Accueil</a></li>
					<li>
						<a href="/fr/<%= detailDomain.uri %>/actif"<% if (detailPage.nav.segment == "asset") { %> aria-current="page"<% }; %>>Actif</a>
					</li>
					<li>
						<a href="/fr/<%= detailDomain.uri %>/image"<% if (detailPage.nav.segment == "image") { %> aria-current="page"<% }; %>>Images</a>
					</li>
				</ul><% }; }; %>
				<ul><% if (detailPage.lang == "en") { %>
					<li><a href="/fr<%= detailPage.canon.fr %>">Français</a></li>
				<% } else { %>
					<li><a href="/en<%= detailPage.canon.en %>">English</a></li>
				<% }; %></ul>
			</nav>
		</div>
	</header>

	<main>
		<% if (detailPage.title.length) { %><h1><%= detailPage.title %></h1><% }; %>
<%- include(detailPage.template + ".ejs") %>

		<footer id="legal">
			<h2><% if (detailPage.lang == "en") { %>Legal Disclaimers<% } else { %>Avis de non-responsabilité<% }; %></h2>
			<% if (detailPage.lang == "en") { %><ul>
				<li>&copy;2018 OciCat Media.</li>
			</ul><% } else { %><ul>
				<li>&copy;2018 OciCat Media.</li>
			</ul><% } %>
		</footer>
	</main>
	<script src="<%= dataSite.uri.rootAssetGlobal %>jquery-3.3.1.min.js"></script>
	<script src="<%= dataSite.uri.rootAsset %>cam.js"></script>
</body>
</html>
